.container {
    & .paper {
        padding: 100px;
        margin: 20px;

        & div {
            margin-left: auto;
            margin-bottom: 10px;
            justify-content: center;

            & .divider {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
}

